.odc-datagrid {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  .mdc-toolbar {
    .odc-square-button {
      border-top: none;
      border-bottom: none;
      border-left: none;
    }
  }

  > div {
    display: flex;
    flex: 1;

    > div:first-of-type {
      display: flex;
      flex: 1;

      > div {
        display: flex !important;

        > div {
          display: flex !important;
        }
      }
    }
  }

  .odc-table-wrapper {
    display: flex;
    flex-grow: 1;

    .odc-table {
      min-width: 800px;
      font-family: $mdc-typography-font-family;
      border-spacing: 0;
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      .odc-thead .odc-tr {
        height: $odc-topappbar-height;
        display: flex;

        .odc-th {
          padding: 0 24px;
          font-weight: 500;
          font-size: .75rem;
          color: $odc-theme-text-secondary-on-background;
          border-bottom: $odc-divider-border;
          box-sizing: border-box;
          text-align: left;

          display: flex;
          align-items: center;
          flex: 1 0 200px;

          &.-active .content,
          .content:hover {
            color: $odc-theme-text-primary-on-background;
          }

          .content {
            cursor: pointer;
            display: flex;
            align-items: flex-end;

            .material-icons {
              font-size: 16px;
              margin-right: .3rem;
              margin-left: -.2rem;
            }
          }
        }
      }

      .odc-tbody {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;

        .odc-tr {
          min-height: 49px;
          display: flex;

          .odc-td {
            padding: 0 24px;
            font-size: .8125rem;
            font-weight: 400;
            color: $odc-theme-text-primary-on-background;
            border-bottom: $odc-divider-border;
            box-sizing: border-box;

            display: flex;
            align-items: center;
            flex: 1 0 200px;
          }
        }
      }
    }
  }

  .odc-pagination {
    border: none;
    border-top: $odc-divider-border;
  }
}
