.odc-drawer.mdc-drawer--temporary .mdc-drawer__drawer .mdc-toolbar {
  height: $odc-topappbar-height;
  background: transparent;

  .mdc-toolbar__title {
    margin-left: 20px;
    font-weight: 300;

    @media (max-width: $mdc-toolbar-mobile-breakpoint) {
      margin-left: 16px;
    }
  }
}
