.odc-drawer {
  .odc-drawer__toolbar {
    color: white;
    background: transparent;

    .odc-drawer__app-name {
      margin-left: 20px;

      @media (max-width: $mdc-toolbar-mobile-breakpoint) {
        margin-left: 16px;
      }
    }

    .odc-drawer__back-button {
      color: white;
      @include mdc-states-base-color(white);
    }
  }
}
