.odc-drawer.mdc-drawer--temporary .mdc-drawer__drawer .mdc-toolbar {
  color: white;
  background: transparent;

  .material-icons {
    color: white;
    @include mdc-states-base-color(white);
  }

  .mdc-toolbar__title {
    margin-left: 20px;

    @media (max-width: $mdc-toolbar-mobile-breakpoint) {
      margin-left: 16px;
    }
  }
}
