@import 'drawer';
@import 'top-app-bar';

.odc-layout {
  height: 100vh;
  padding-left: $odc-side-tape-width-lg;
  overflow: hidden;

  flex-grow: 1;
  display: flex;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    width: $odc-side-tape-width-lg;
    height: 100%;
    background: linear-gradient($odc-theme-primary 16.5%, $odc-theme-primary-dark);

    @media (max-width: $mdc-toolbar-mobile-breakpoint) {
      width: $odc-side-tape-width-sm;
    }
  }

  @media (max-width: $mdc-toolbar-mobile-breakpoint) {
    padding-left: $odc-side-tape-width-sm;
  }

  &__container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  &__main-drawer {
    .mdc-drawer__drawer {
      background: $odc-theme-gradient-bg;
    }

    .mdc-toolbar {
      color: white;
      background: transparent;

      &__icon {
        color: white;
        @include mdc-states-base-color(white);
      }
    }

    .mdc-drawer__content {
      flex-grow: 0;
    }

    .mdc-list-item {
      @include mdc-states-base-color(white);
      padding: 0 20px;
      font-size: .8rem;
      font-weight: 300;
      text-transform: uppercase;

      &:hover {
        cursor: pointer;
      }

      @media (max-width: $mdc-toolbar-mobile-breakpoint) {
        padding: 0 16px;
      }
    }
  }
}
