.odc-square-button {
  width: $odc-topappbar-height;
  height: $odc-topappbar-height;
  border: 1px solid $odc-theme-barely-black;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}
