.odc-square-button {
  width: $odc-topappbar-height;
  height: $odc-topappbar-height;
  border: $odc-divider-border;
  cursor: pointer;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;

  &--primary {
    color: white;
    background: $odc-theme-horizontal-gradient-bg;

    &:hover {
      background: $odc-theme-primary;
    }
  }
}
