.mdc-toolbar {
  min-height: $odc-topappbar-height;
  color: $odc-theme-text-primary-on-background;
  background: white;
  border-bottom: $odc-divider-border;
  box-sizing: content-box;
  flex: 0 0 $odc-topappbar-height;

  &__row {
    min-height: $odc-topappbar-height;
  }

  &__section {
    padding: 4px 4px 4px 0;
  }

  &__title {
    font-weight: 300;
  }

  .mdc-toolbar__icon {
    @include mdc-states-base-color(black);
    color: $odc-theme-text-primary-on-background;
    user-select: none;
  }
}
