.mdc-toolbar {
  min-height: $odc-topappbar-height;
  color: $odc-theme-text-primary-on-background;
  background: white;
  border-bottom: $odc-divider-border;
  box-sizing: content-box;
  flex: 0 0 $odc-topappbar-height;

  &__row {
    min-height: $odc-topappbar-height;
  }

  &__section {
    padding-top: 4px;
    padding-bottom: 4px;

    &--align-start {
      padding-left: 4px;
    }

    &--align-end {
      padding-right: 4px;
    }
  }

  &__title {
    font-weight: 300;
  }

  .mdc-toolbar__icon {
    @include mdc-states-base-color(black);
    color: $odc-theme-text-primary-on-background;
    user-select: none;
  }
}
