.odc-toolbar,
.mdc-toolbar {
  min-height: $odc-topappbar-height;
  color: $odc-theme-text-primary-on-background;
  background: white;
  border-bottom: $odc-divider-border;
  box-sizing: content-box;

  &__row {
    min-height: $odc-topappbar-height;
  }

  &__title {
    font-weight: 300;
  }

  .mdc-toolbar__icon {
    color: $odc-theme-text-primary-on-background;
    @include mdc-states-base-color(black);
  }
}
