.odc-top-app-bar,
.mdc-top-app-bar {
  position: relative;
  color: $odc-theme-text-primary-on-background;
  background-color: white;
  border-bottom: 1px solid $odc-theme-barely-black;

  .odc-square-button__navigation {
    border-top: none;
    border-bottom: none;
    border-left: none;
  }

  &__title {
    padding-left: 0;
    margin-left: 12px;
    font-weight: 300;

    @media (max-width: $mdc-toolbar-mobile-breakpoint) {
      margin-left: 12px;
    }
  }

  .material-icons {
    @include mdc-states-base-color(black);
  }
}
