@import 'drawer';
@import 'top-app-bar';

.odc-layout {
  .mdc-drawer__drawer {
    background: linear-gradient(#006dff, #002de4);

    .mdc-list-item {
      @include mdc-states-base-color(white);
      padding: 0 20px;
      font-size: .8rem;
      font-weight: 300;
      text-transform: uppercase;

      &:hover {
        cursor: pointer;
      }

      @media (max-width: $mdc-toolbar-mobile-breakpoint) {
        padding: 0 16px;
      }
    }
  }

  .mdc-drawer__content {
    flex-grow: 0;
  }
}
