.odc-top-app-bar,
.mdc-top-app-bar {
  position: relative;
  color: rgba(0,0,0,.87);
  background-color: white;
  border-bottom: 1px solid rgba(0,0,0,.12);

  .odc-square-button {
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
  }

  &__title {
    padding-left: 0;
    margin-left: 8px;
    font-weight: 300;

    @media (max-width: $mdc-toolbar-mobile-breakpoint) {
      margin-left: 12px;
    }
  }

  .material-icons {
    @include mdc-states-base-color(black);
  }
}
