.odc-datagrid__animation-wrapper {
  width: calc(100% + #{$odc-datagrid-filters-drawer-width});
  transition: mdc-animation-standard(width, $mdc-slidable-drawer-transition-close-time);
  will-change: width;

  display: flex;
  flex: 1;

  &--open {
    width: 100%;
    transition: mdc-animation-standard(width, $mdc-slidable-drawer-transition-open-time);
  }
}
