<!DOCTYPE html>
<html lang="en">

<head>
  <meta charSet="utf-8" />
  <meta httpEquiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <!-- <meta name="theme-color" content="#9f25b3" /> -->

  <link rel="dns-prefetch" href="//fonts.googleapis.com" />
  <!--  <link rel="dns-prefetch" href="//storage.googleapis.com" /> -->
  <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" />
  <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body>
  <div id="root"></div>
  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () =>
        navigator.serviceWorker
          .register('/sw.js')
          .then(registration => console.log(`[ServiceWorker] Registered`))
      );
    }
  </script>
</body>

</html>
