body {
  padding-left: $odc-side-tape-width-lg;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    width: $odc-side-tape-width-lg;
    height: 100vh;
    background: linear-gradient($odc-theme-primary 16.5%, $odc-theme-primary-dark);
    z-index: 5;

    @media (max-width: $mdc-toolbar-mobile-breakpoint) {
      width: $odc-side-tape-width-sm;
    }
  }

  @media (max-width: $mdc-toolbar-mobile-breakpoint) {
    padding-left: $odc-side-tape-width-sm;
  }
}
