// Colors

$odc-theme-primary: #006dff;
$odc-theme-primary-dark: #002de4;
$odc-theme-text-primary-on-background: var(--mdc-theme-text-primary-on-background);
$odc-theme-barely-black: rgba(black, .12);

$odc-theme-gradient-bg: linear-gradient($odc-theme-primary, $odc-theme-primary-dark);

// Side tape

$odc-side-tape-width-lg: 10px;
$odc-side-tape-width-sm: 5px;

// Overrides of Material Design theme

$mdc-theme-primary: $odc-theme-primary;
// $mdc-theme-secondary: #76ff03;
