// Colors

$odc-theme-primary: #006dff;
$odc-theme-primary-dark: #002de4;
$odc-theme-text-primary-on-background: var(--mdc-theme-text-primary-on-background);
$odc-theme-text-secondary-on-background: var(--mdc-theme-text-secondary-on-background);
$odc-theme-barely-black: rgba(black, .12);

$odc-theme-gradient-bg: linear-gradient($odc-theme-primary, $odc-theme-primary-dark);
$odc-theme-horizontal-gradient-bg: linear-gradient(to right, $odc-theme-primary, $odc-theme-primary-dark);
$odc-theme-table-row-bg-hover: rgba(black, .07);

// Sizes

$odc-side-tape-width-lg: 10px;
$odc-side-tape-width-sm: 5px;

$odc-topappbar-height: 56px;

$odc-datagrid-filters-drawer-width: 240px;

// Borders

$odc-divider-border: 1px solid $odc-theme-barely-black;

// Overrides of Material Design theme

$mdc-theme-primary: $odc-theme-primary;
